<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="#">Free eBay Templates</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a>{{userEmail}}</a></li>
				<li><a href="#logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- PAGE CONTENT -->		
<div class="container-fluid" style="margin-top:75px;margin-bottom:75px">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- themeAdd -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-7516030346002342"
	 data-ad-slot="2741538369"
	 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</br>

<!-- PAGE TITLE -->		
	<div class="jumbotron">
		<h1>Themes</h1>     
		<p>Start by selecting a theme from the 12 different options.</p>
	</div>


<!-- ROW #1 -->		
<div class="row">
	<div class="col-sm-3">
	<img class="img-responsive" src="https://bootswatch.com/3/cerulean/thumbnail.png" class="img-rounded" alt="image">
	<div class="well text-center"><h3>Ceruleans</h3>
	<button type="button" class="btn btn-info" ng-click="viewCerulean()">View</button>
	<button type="button" class="btn btn-success" ng-click="selectCerulean()">Select</button></div></div>
	<div class="col-sm-3">
	<img class="img-responsive" src="https://bootswatch.com/3/cosmo/thumbnail.png" class="img-rounded" alt="image">
	<div class="well text-center"><h3>Cosmo</h3>
	<button type="button" class="btn btn-info" ng-click="viewCosmo()">View</button>
	<button type="button" class="btn btn-success" ng-click="selectCosmo()">Select</button></div></div>
	<div class="col-sm-3">
	<img class="img-responsive" src="https://bootswatch.com/3/cyborg/thumbnail.png" class="img-rounded" alt="image">
	<div class="well text-center"><h3>Cyborg</h3>
	<button type="button" class="btn btn-info" ng-click="viewCyborg()">View</button>
	<button type="button" class="btn btn-success" ng-click="selectCyborg()">Select</button></div></div>
	
	<div class="col-sm-3">
	<img class="img-responsive" src="https://bootswatch.com/3/darkly/thumbnail.png" class="img-rounded" alt="image">
	<div class="well text-center"><h3>Darkly</h3>
	<button type="button" class="btn btn-info" ng-click="viewDarkly()">View</button>
	<button type="button" class="btn btn-success" ng-click="selectDarkly()">Select</button></div></div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- themeAdd -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-7516030346002342"
	 data-ad-slot="2741538369"
	 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</br>

<!-- ROW #2 -->		
<div class="row">

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/flatly/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Flatly</h3>
<button type="button" class="btn btn-info" ng-click="viewFlatly()">View</button>
<button type="button" class="btn btn-success" ng-click="selectFlatly()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/journal/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Journal</h3>
<button type="button" class="btn btn-info" ng-click="viewJournal()">View</button>
<button type="button" class="btn btn-success" ng-click="selectJournal()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/lumen/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Lumen</h3>
<button type="button" class="btn btn-info" ng-click="viewLumen()">View</button>
<button type="button" class="btn btn-success" ng-click="selectLumen()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/paper/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Paper</h3>
<button type="button" class="btn btn-info" ng-click="viewPaper()">View</button>
<button type="button" class="btn btn-success" ng-click="selectPaper()">Select</button></div></div>

</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- themeAdd -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-7516030346002342"
	 data-ad-slot="2741538369"
	 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</br>

<!-- ROW #1 -->		
<div class="row">

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/readable/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Readable</h3>
<button type="button" class="btn btn-info" ng-click="viewReadable()">View</button>
<button type="button" class="btn btn-success" ng-click="selectReadable()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/sandstone/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Sandstone</h3>
<button type="button" class="btn btn-info" ng-click="viewSandstone()">View</button>
<button type="button" class="btn btn-success" ng-click="selectSandstone()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/simplex/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Simplex</h3>
<button type="button" class="btn btn-info" ng-click="viewSimplex()">View</button>
<button type="button" class="btn btn-success" ng-click="selectSimplex()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/slate/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Slate</h3>
<button type="button" class="btn btn-info" ng-click="viewSlate()">View</button>
<button type="button" class="btn btn-success" ng-click="selectSlate()">Select</button></div></div>

</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- themeAdd -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-7516030346002342"
	 data-ad-slot="2741538369"
	 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</br>

<!-- ROW #1 -->		
<div class="row">

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/spacelab/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Spacelab</h3>
<button type="button" class="btn btn-info" ng-click="viewSpacelab()">View</button>
<button type="button" class="btn btn-success" ng-click="selectSpacelab()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/superhero/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Superhero</h3>
<button type="button" class="btn btn-info" ng-click="viewSuperhero()">View</button>
<button type="button" class="btn btn-success" ng-click="selectSuperhero()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/united/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>United</h3>
<button type="button" class="btn btn-info" ng-click="viewUnited()">View</button>
<button type="button" class="btn btn-success" ng-click="selectUnited()">Select</button></div></div>

<div class="col-sm-3">
<img class="img-responsive" src="https://bootswatch.com/3/yeti/thumbnail.png" class="img-rounded" alt="image">
<div class="well text-center"><h3>Yeti</h3>
<button type="button" class="btn btn-info" ng-click="viewYeti()">View</button>
<button type="button" class="btn btn-success" ng-click="selectYeti()">Select</button></div></div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- themeAdd -->
<ins class="adsbygoogle"
	 style="display:block"
	 data-ad-client="ca-pub-7516030346002342"
	 data-ad-slot="2741538369"
	 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</br>
			
</div>

<!-- FOOTER -->
<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="navbar-header navbar-right">
			<a class="navbar-brand" href="#" style="font-size:1em;" >Magic<span class="glyphicon glyphicon-flash"></span>Lister. All Rights Reserved</a>
		</div>
	</div>
</nav>